@charset="UTF-8"

#wrap{
    width:960px;
    margin:0px autol;
}

header{
    border:dashed 1px #999;
}
.boxA{
    float:left;
    width:370px;
    margin:10px 10px 10px 0px;
}
.boxB {
    float: left;
    margin: 10px 10px 10px 0px;
}
.boxC {
    float: left;
    width: 370px;
    margin: 10px 10px 10px 0px;
}

.boxD {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec422;
}
.boxD p {
    margin: 0; 
    padding: 0;
}
.boxE {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
.boxE p {
    margin: 0; 
    padding: 0;
}
